[Desktop Entry]
Name=Keymapp
Comment=ZSA Moonlander Keymapp
TryExec=keymapp
Exec=keymapp
Type=Application
Keywords=keyboard;keymapp;zsa;moonlander
Icon=application-keymapp
Categories=Utility
StartupNotify=false
SingleMainWindow=false
