[Unit]
Description=My job timer

[Timer]
OnBootSec=0min
OnCalendar=*-*-* 00:30:00
Persistent=true
Unit=rustup-update.service

[Install]
WantedBy=multi-user.target
